@import "fonts";

$primaryColor: #CB562A;
$backgroundColor: #EFE6DD;

* {
    font-family: 'Champagne Limousines', Arial, sans-serif;
    box-sizing: border-box;

    body {
        margin: 0;
        padding: 0;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
            font-family: 'Manege Demo', Arial, sans-serif;
        }
    }
}

.form {
    &-wrapper {
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: $backgroundColor;

        &.active {
            display: flex;
        }
    }

    &-title {
        margin-bottom: 24px;
    }

    &-content {
        width: calc(100% - 2rem);
        max-width: 560px;
        padding: 40px;
        background-color: #fff;
    }

    &-label {
        display: block;
        width: 100%;
    }

    &-input {
        margin-bottom: 1rem;
        padding: 16px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #000;

        &, &-title, &-description, &-button {
            display: block;
            width: 100%;
        }

        &-title {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
        }

        &-description {
            margin-bottom: 5px;
            color: rgba(#000, 1);
        }

        &-button {
            margin-top: 2rem;
            height: 60px;
            color: #fff;
            font-family: 'Manege Demo', Arial, sans-serif;
            font-size: 18px;
            font-weight: 500;
            border: none;
            background-color: #000;
            cursor: pointer;
            transition: .5s ease;

            &:hover {
                background-color: $primaryColor;
            }
        }
    }
}

.fortune {
    &-wrapper {
        padding: 1rem;
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: $backgroundColor;

        &.active {
            display: flex;
        }
    }

    &-content, &-group, &-inner {
        width: 500px;
        height: 500px;
    }

    &-content {
        position: relative;
    }

    &-group {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-radius: 50%;
        border: 4px solid $primaryColor;
        background-color: rgba(#000, .9);
        overflow: hidden;
        transition: 10s ease;
        position: relative;

        &__wrapper {
            position: absolute;
            z-index: 200;
        }
    }

    &-inner {
        position: relative;

        &__wrapper {
            position: absolute;
            z-index: 300;
        }

        &__circle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 282px;
            height: 282px;
            background-color: $backgroundColor;
            border: 4px solid $primaryColor;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__title {
            color: #ff4b23;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;

            &:last-child {
                color: #000;
            }
        }

        &__arrow {
            width: 60px;
            height: 60px;
            background-color: darken($primaryColor, 5%);
            clip-path: polygon(100% 0, 0 0, 50% 100%);
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__button {
            display: block;
            padding: .5rem 1.5rem;
            color: rgba(#fff, .8);
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: $primaryColor;
            border: none;
            border-radius: 5px;
            transition: .5s ease;
            cursor: pointer;
            position: relative;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50px);

            &:hover {
                padding: .5rem 2rem;
                color: #fff;
                background-color: lighten($primaryColor, 5%);
            }
        }
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 207px;
        height: 120px;
        clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:nth-child(odd) {
            background-color: rgba(#000, .7);
            z-index: 210;
        }

        &:nth-child(1) {
            margin-top: -190px;
        }

        &:nth-child(2) {
            margin-top: -135px;
            margin-left: 134px;
            transform: translate(-50%, -50%) rotateZ(45deg);
        }

        &:nth-child(3) {
            margin-left: 190px;
            transform: translate(-50%, -50%) rotateZ(90deg);
        }

        &:nth-child(4) {
            margin-top: 135px;
            margin-left: 134px;
            transform: translate(-50%, -50%) rotateZ(135deg);
        }

        &:nth-child(5) {
            margin-top: 190px;
            transform: translate(-50%, -50%) rotateZ(180deg);
        }

        &:nth-child(6) {
            margin-top: 135px;
            margin-left: -134px;
            transform: translate(-50%, -50%) rotateZ(-135deg);
        }

        &:nth-child(7) {
            margin-left: -190px;
            transform: translate(-50%, -50%) rotateZ(-90deg);
        }

        &:nth-child(8) {
            margin-top: -135px;
            margin-left: -134px;
            transform: translate(-50%, -50%) rotateZ(-45deg);
        }

        &__image {
            display: none;
            height: calc(100% - 15px);
        }

        &__title {
            color: $backgroundColor;
            font-weight: 700;
            text-align: center;
        }

        &__subtitle {
            color: rgba($backgroundColor, .6);
            font-weight: 600;
        }
    }

    @media (max-width: 425px) {
        &-content, &-group, &-inner {
            width: 400px;
            height: 400px;
        }

        &-group {
            transform: scale(0.8);
        }

        &-inner {
            &__circle {
                transform: translate(-50%, -50%) scale(0.7);
            }

            &__arrow {
                top: 16px;
                transform: translateX(-50%) scale(0.7);
            }

            &__button {
                transform: translate(-50%, -70px) scale(0.7);
            }
        }

        &-item {
            &:nth-child(1) {
                margin-top: -155px;
            }

            &:nth-child(2) {
                margin-top: -109px;
                margin-left: 115px;
                transform: translate(-50%, -50%) rotateZ(45deg);
            }

            &:nth-child(3) {
                margin-left: 155px;
                transform: translate(-50%, -50%) rotateZ(90deg);
            }

            &:nth-child(4) {
                margin-top: 115px;
                margin-left: 109px;
                transform: translate(-50%, -50%) rotateZ(135deg);
            }

            &:nth-child(5) {
                margin-top: 155px;
                transform: translate(-50%, -50%) rotateZ(180deg);
            }

            &:nth-child(6) {
                margin-top: 115px;
                margin-left: -109px;
                transform: translate(-50%, -50%) rotateZ(-135deg);
            }

            &:nth-child(7) {
                margin-left: -155px;
                transform: translate(-50%, -50%) rotateZ(-90deg);
            }

            &:nth-child(8) {
                margin-top: -115px;
                margin-left: -109px;
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }
    }

    @media (max-width: 375px) {
        &-content, &-group, &-inner {
            width: 340px;
            height: 340px;
        }

        &-inner {
            &__circle {
                transform: translate(-50%, -50%) scale(0.5);
            }
        }

        &-item {
            width: 150px;

            &:nth-child(1) {
                margin-top: -125px;
            }

            &:nth-child(2) {
                margin-top: -94px;
                margin-left: 95px;
                transform: translate(-50%, -50%) rotateZ(45deg);
            }

            &:nth-child(3) {
                margin-left: 125px;
                transform: translate(-50%, -50%) rotateZ(90deg);
            }

            &:nth-child(4) {
                margin-top: 95px;
                margin-left: 94px;
                transform: translate(-50%, -50%) rotateZ(135deg);
            }

            &:nth-child(5) {
                margin-top: 125px;
                transform: translate(-50%, -50%) rotateZ(180deg);
            }

            &:nth-child(6) {
                margin-top: 95px;
                margin-left: -94px;
                transform: translate(-50%, -50%) rotateZ(-135deg);
            }

            &:nth-child(7) {
                margin-left: -125px;
                transform: translate(-50%, -50%) rotateZ(-90deg);
            }

            &:nth-child(8) {
                margin-top: -95px;
                margin-left: -94px;
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }
    }
}

.result {
    &-wrapper {
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(#000, .7);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        &.active {
            display: flex;
        }
    }

    &-content {
        max-width: 750px;
    }

    &-text {
        color: rgba(#000, .7);
        font-size: 18px;
        font-weight: 600;

        b {
            color: #000;
            font-weight: 700;
        }
    }

    &-product {
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__text {
            padding-right: 1rem;
        }

        &__image {
            width: 100%;
            max-width: 200px;
            min-width: 200px;
            height: auto;
            min-height: 200px;
            max-height: 200px;
            background-color: rgba(#000, .05);
            position: relative;

            &-item {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

#result-timer-text {
    font-size: 16px;
    opacity: .7;
}
